{{!-- <div class="row justify-content-center">
    <div class="col-md-12 col-xs-12 col-lg-6 col-sm-12 col-xl-3">
        <div class="profile_div">
            <div class="w-75 m-auto text-center">
                <img src="./images/Untitled.png" alt="..." class="img-thumbnail profile_image">
            </div>

            <div class="w-75 m-auto p-3">
                <div>
                    <span class="profileProps">Username: </span>{{user.username}}</div>
                <div>
                    <span class="profileProps">First Name: </span>{{user.[first name]}}</div>
                <div>
                    <span class="profileProps">Last Name: </span>{{user.[last name]}}</div>
                <div>
                    <span class="profileProps">Age: </span>{{user.age}}</div>
                <div>
                    <span class="profileProps">About:</span>
                    <div>{{user.about}}</div>
                </div>
                <div>
                    <a href="/edit" class="btn btn-light form-control border">Edit profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-xl-5">
        <a class="playGameButtoN" href="/play">play game</a>
        <h3>About Checkers</h3>
        <p>
            Checkers, also called draughts, board game, one of the world’s oldest games. Checkers is played by two persons who oppose
            each other across a board of 64 light and dark squares, the same as a chessboard. The 24 playing pieces are disk-shaped
            and of contrasting colours (whatever their colours, they are identified as black and white). At the start of
            the game, each contestant has 12 pieces arranged on the board. While the actual playing is always done on the
            dark squares, the board is often shown in reverse for clarity. The notation used in describing the game is based
            on numbering the squares on the board. The black pieces always occupy squares 1 to 12, and the white pieces invariably
            rest on squares 21 to 32.
        </p>
        <p>
            Play consists of advancing a piece diagonally forward to an adjoining vacant square. Black moves first. If an opponent’s
            piece is in such an adjoining vacant square, with a vacant space beyond, it must be captured and removed by jumping
            over it to the empty square. If this square presents the same situation, successive jumps forward in a straight
            or zigzag direction must be completed in the same play. When there is more than one way to jump, the player has
            a choice. When a piece first enters the king row, the opponent’s back row, it must be crowned by the opponent,
            who places another piece of the same colour on it. The piece, now called a king, has the added privilege of moving
            and jumping backward; if it moved to the last row with a capture, it must continue capturing backward if possible.
            A win is scored when an opponent’s pieces are all captured or blocked so that they cannot move. When neither
            side can force a victory and the trend of play becomes repetitious, a draw game is declared.
        </p>
        <p>
            Games similar to checkers were played in the days of the early Egyptian pharaohs (c. 1600 BC) and were mentioned in the works
            of the Greek writers Homer and Plato. About the 12th century AD an early form of the game was adapted to the
            64-square chessboard, and by the 16th century the rule compelling capture had been added, producing a game essentially
            the same as modern checkers.
        </p>
        <p>
            At first all expert play was unrestricted, or go-as-you-please, with the opening moves left entirely to the discretion of
            the individual. Lengthy series of drawn games between overcautious experts in tournament play, however, led to
            the introduction of methods of forcing more varied and daring styles of play. In the two-move restriction, the
            first move of each side is chosen by lot from 47 playable combinations. The three-move, or American, restriction
            is an extension of the two-move to black’s second move, with about 300 prescribed openings. Eleven-man ballot
            is a less popular method, in which one piece is removed by lot from each side before the start of a game. The
            original game of go-as-you-please has remained the most popular method of informal play. There are a number of
            variations on the game.
        </p>
        <p>
            At least since 1934, when restricted opening play began, most players suspected that a game of checkers would end in a draw
            with best play—a belief fortified by the often-proved ability of top players to draw at will in games contested
            with unrestricted opening play. In 2007 the long-held belief that checkers must end in a draw with best play
            was confirmed. Credit for the proof belongs to Jonathan Schaeffer, a Canadian computer scientist, who had earlier
            developed the first computer program, named Chinook, to win a world championship from a human at any game. Chinook
            lost its first championship challenge match in 1990 to the American mathematician Marion Tinsley, with two wins
            against four losses. In a 1994 rematch their first six games ended in draws, at which point Tinsley resigned
            the world championship match for health reasons. After Chinook won a subsequent match with a human challenger,
            Schaeffer withdrew it from tournament and match play. Over the following decade, Schaeffer used Chinook to explore
            some 39 trillion positions, which occupied more than 200 gigabytes (billions of bytes) of data storage. Although
            his database did not include every possible checker position—a task that would require many more decades at current
            computer computational speeds and a vast expansion in the size of his database—Schaeffer did succeed in fully
            calculating all of the possible checker positions starting from 19 of the 300 sanctioned tournament opening sequences.
            As many of the other opening sequences have been shown to transpose into one of the 19 or to lead to mirror images
            of them, most experts concurred that Schaeffer had succeeded in finally solving checkers.
        </p>
    </div>
    <div class="col-md-4 col-xl-4">
        <h3>Ongoing matches</h3>
    </div>
</div> --}}

<div class="row justify-content-md-center">
    <div class="col-md-6 ">
         <ul class="gameMenu">
             <li><a href="/play">New Game</a></li>
             <li><a href="">Watch Game</a></li>
             <li><a href="">Tournaments</a></li>
             <li><a href="">Leaderboards</a></li>
             <li><a href="">Learn</a></li>
             <li><a href="">About</a></li>
         </ul>
    </div>
</div>